@import '../../default.scss';

.feed {
  padding: 3rem;
  box-shadow: 1px 0px 15px -2px $darkgrey;
  border-radius: 1.5rem 0 0 0;
  z-index: 2;
  .feed-nav {
    @include flex('', center, space-between);
    .right-nav {
      @include flex('', center, space-between);
    }
  }
}
