@import '../AddComment//style.scss';
@import '../../../default.scss';
.comment {
  @extend .add-comment;
  @include flex('', '', start);
  background-color: darken($lightgrey, 8%);
  border-radius: 3rem;
  padding: 0.5rem;
  color: $black;

  & div {
    align-self: center;
    & svg {
      margin-left: 2rem;
      width: 2.5rem;
    }
  }
}
