@import '../../default.scss';

.profile {
  margin: auto;
  min-width: 34rem;
  max-width: 70rem;
  & h2 {
    margin-top: 3rem;
    color: $darkgrey;
  }
  & .user-info {
    text-align: center;
    margin-bottom: 4rem;
    .circle img {
      width: 20rem;
      height: 20rem;
      margin-bottom: 1.5rem;
    }
    .username {
      font-size: larger;
    }
  }
  .send-message {
    width: 20rem;
    @include background-transition($blue, lighten($blue, 20%));
    display: block;
    margin: auto;
    @include flex(row, center, space-between);
    & svg {
      transform: rotate(40deg);
      fill: $white;
      fill-opacity: 0.2;
    }
  }
  .profile-info-edit,
  .profile-info-save {
    @include background-transition($accent2, lighten($accent2, 20%));
    width: 20rem;
    display: block;
    margin: 2rem auto;
  }

  .profile-info-save {
    @include background-transition($blue, lighten($blue, 20%));
    width: 100%;
  }
}
