@import '../../default.scss';

.upload {
  // margin: 30px auto 10px;
  // text-align: center;

  & input {
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
    @include box(4rem);
    margin: 0;
    z-index: 2;
    cursor: pointer;
  }
  & svg {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .output {
    position: relative;
    top: 0;
    left: 0;
    height: 6rem;
    width: 20rem;
    font-size: $small;
  }
}
