@import '../../default.scss';

.add-post {
  margin: 4.5rem auto;
  width: 100%;
  max-width: 60rem;
  @include flex('', start, center);
  & .circle img {
    margin-right: 1.5rem;
    width: 6rem;
    height: 6rem;
  }
  .first-row {
    width: 100%;
    @include flex(column, center, space-between);
    & textarea {
      width: 100%;
      height: 10rem;
    }
    & button {
      width: 10rem;
    }
  }
  .second-row {
    width: 100%;
    @include flex('', center, space-between);
    & svg {
      align-self: flex-end;
      cursor: pointer;
      @include box(4rem);
    }
  }
}
