@import '../../default.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  background: rgba(218, 221, 211, 0.2);
  padding: 3rem;
  & .title {
    text-align: center;
    font-size: $medium;
  }
}
