@import '../../../default.scss';

.add-post {
  margin: 4.5rem auto;
  width: 100%;
  max-width: 60rem;
  @include flex('', start, center);
  & .circle img {
    margin-right: 1.5rem;
    width: 6rem;
    height: 6rem;
  }

  .first-row {
    width: 100%;
    @include flex(column, center, space-between);
    & textarea {
      width: 100%;
      height: 10rem;
    }
    & button {
      width: 10rem;
    }
  }
  .post-img {
    overflow: hidden;
    opacity: 0.8;
    & img {
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      top: 0;
      left: 0;
    }
  }
  .second-row {
    width: 100%;
    @include flex('', center, space-between);
    & form {
      align-self: flex-end;
      @include box(4rem);

      & svg {
        cursor: pointer;
        @include box(4rem);
      }
    }
  }
}
