@import '../../../default.scss';

.desktop-nav {
  margin-top: 2rem;
  .link {
    text-align: left;
    margin-bottom: 2rem;
    height: 2.5rem;
    @include flex('', center, '');

    & img,
    svg {
      width: 3rem;
    }
    & p {
      font-weight: bold;
      margin-left: 1.5rem;
      color: $black;
    }
    &:hover {
      & p {
        color: lighten($accent, 20%);
      }
      & svg {
        fill: lighten($accent, 20%);
      }
    }
  }
  .main-nav-active {
    & p {
      color: $accent;
    }
    & svg {
      fill: $accent;
    }
  }
  & .link:last-child {
    margin-top: 6rem;
    padding: 3rem 0 0 0;
    border-top: 1px solid darken($grey, 30);
    cursor: pointer;

    &:hover {
      & p {
        color: $accent;
      }
      & svg {
        fill: $accent;
      }
    }
  }
  .notifications-count {
    @include flex(row, center, center);
    @include box(3rem);
    border-radius: 50%;
    background-color: $accent;
    color: $white !important;
  }
}
