@import '../../default.scss';

.four-o-four {
  margin-top: 3rem;
  text-align: center;

  .title {
    font-size: $title;
    font-weight: bold;
    color: $black;
  }
  & h1 {
    margin: 3rem auto;
    font-size: 25rem;
    color: $accent;
  }
  & h3 {
    margin-bottom: 1.5rem;
  }
  & p {
    color: $grey;
    margin-bottom: 6rem;
    font-weight: bold;
  }
  & a {
    padding: 1.5rem 3rem;
  }
}
