@import '../../../default.scss';

.add-comment {
  width: 100%;
  margin-top: 1.5rem;
  & .circle img {
    @include box(4rem);
    margin-right: 0.5rem;
  }
  @include flex(row, center, center);

  .add-comment-input {
    background-color: white;
    border-radius: 3rem;
    width: 100%;
    margin: 0;
    padding: 1rem;
    @include flex('', center, space-between);
    & input {
      height: 100%;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
    }
    & svg {
      transform: rotate(40deg);
      fill: $blue;
      fill-opacity: 0.2;
    }
    .submit {
      fill-opacity: 1;
    }
  }
}
