@import '../../default.scss';

.post {
  width: 100%;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: $lightgrey;
  border-radius: 1.5rem;
  @include flex(column, center, center);
  .post-data {
    width: 100%;
    @include flex(row, center, space-between);
  }

  .post-header {
    @include flex(row, center, space-between);
    .post-date {
      font-size: $small;
      color: $darkgrey;
    }
    .post-username {
      font-weight: bold;
      color: $black;
      font-size: 1.6rem;
    }
    & img {
      @include box(5rem);
      margin-right: 1.5rem;
    }
  }
  .post-body {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    & p {
      font-weight: bold;
    }
  }

  .post-interactions {
    width: 100%;
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
    padding: 0.5rem;
    @include flex(row, center, space-between);
  }
}
