/* variables */

// colors

$white: white;
$black: #1a1210;
$grey: #bdbbbd;
$lightgrey: #f3f3f3;
$darkgrey: #80757d;
$accent: #e2336b;
$accent2: #fcac46;
$blue: #2ba7f3;
$error: #e63d3d;
$success: #4ac75b;
$sidebar: #f9f9f9;
// $swatch_1: #e6e6e7;
// $swatch_2: #bdbbbd;
// $swatch_3: #1a1210;
// $swatch_4: #61a3b5;
// $swatch_5: #a75327;
// $swatch_6: #5b5049;
// $swatch_7: #80757d;

// typography

$title: 4rem;
$medium: 2.4rem;
$normal: 1.8rem;
$small: 1.4rem;
$smallest: 1rem;

// screen size
$tablet: 768;
$large: 1024;
$desktop: 1280;

/* mixin */

@mixin transition {
  transition: all 0.4s ease;
}
@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin hover($color: $blue) {
  @include transition;
  &:hover {
    background: darken($color, 10%);
  }
}
@mixin text-hover($color: $blue) {
  @include transition();
  &:hover {
    color: $color;
  }
}
@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}
@mixin background-transition($initial, $hover, $inversed: false) {
  background: linear-gradient(
    45deg,
    $hover 0%,
    $hover 35%,
    $initial 75%,
    $initial 100%
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;

  background-position: right bottom;
  @if $inversed {
    background-position: left bottom;
  }
  transition: background-position 0.25s ease-out;

  &:hover {
    background-position: left bottom;
    @if $inversed {
      background-position: right bottom;
    }
  }
}
@mixin flex($direction: 'row', $align: 'center', $justify: 'space-between') {
  display: flex;
  flex-direction: unquote($direction);
  align-items: unquote($align);
  justify-content: unquote($justify);
}
// default

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
body {
  font-size: $normal;
}
a {
  text-decoration: none;
  color: $accent2;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
*:hover {
  @include transition;
}
svg {
  @include box(3rem);
  cursor: pointer;

  &:hover {
    fill: $accent;
  }
}
//layouts

.container {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}
.main-layout {
  display: grid;
  grid-template-columns: 30rem 1fr;
}
.page-shadow {
  padding: 3rem;
  box-shadow: 1px 0px 15px -2px $darkgrey;
  border-radius: 1.5rem 0 0 0;
  z-index: 2;
}
//overlay

.overlay {
  @include transition;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
}

// btns
.btn {
  color: $white;
  border: none;
  outline: none;
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: $normal;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  @include background-transition($accent, $accent2);
  &:disabled,
  &:disabled:hover {
    opacity: 0.5;
  }
}

// Forms
input,
select,
textarea {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 1rem 1.6rem;
  font-size: $normal;
  border-radius: 0.5rem;
  display: inline-block;
  border: $grey 2px solid;
  background-color: $white;
  outline-color: $accent;
}

//useful classes
.label {
  text-align: left;
  margin: 1rem 0 0.5rem 0;
  padding: 0;
}
.error {
  color: #c93131;
  margin-bottom: 1.5rem;
}
.circle img {
  object-fit: cover;
  background-color: lightblue;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

.notifications-count {
  @include flex(row, center, center);
  @include box(3rem);
  border-radius: 50%;
  background-color: $accent;
  color: $white !important;
}
